<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SciVerse"
        tools:targetApi="tiramisu">
        <activity
            android:name=".NavigationDrawer.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.ReverseComplementActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.GCpercentActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.DNAcuttingActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.MolalityActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.DilutionActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.NormalityActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.MolarityActivity"
            android:exported="false" />
        <activity
            android:name=".AllModules.ATGC_Module"
            android:exported="false" />
        <activity
            android:name=".PhoneAuthentication.OTPActivity"
            android:exported="false"
            android:label="SciVerse" />
        <activity
            android:name=".PhoneAuthentication.PhoneLoginActivity"
            android:exported="false"
            android:label="SciVerse" />
        <activity
            android:name=".CustomAuthentication.CustomLoginActivity"
            android:exported="false"
            android:label="Sciverse" />
        <activity
            android:name=".CustomAuthentication.CustomSigninActivity"
            android:exported="false"
            android:label="SciVerse" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="SciVerse"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Sciverse" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>